@inherits LayoutComponentBase
@inject Options Options
<MudThemeProvider />
<MudDialogProvider />
<MudSnackbarProvider />
<MudLayout>
    <MudAppBar>
        <MudText Typo="Typo.h4" Class="mud-typography">Git Contrib</MudText>
        <MudSpacer />
        <MudText Typo="Typo.h5" Class="mud-typography">@Options.Path</MudText>
        </MudAppBar>
        <MudDrawer Open="false">

        </MudDrawer>
        <MudMainContent>
            @Body
    </MudMainContent>
</MudLayout>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
